[flake8]
ignore =
    E125 # continuation line with same indent as next logical line
    E251 # unexpected spaces around keyword / parameter equals
    E501 # line too long
    E203 # whitespace before ':'
    E231 # missing whitespace after ','
    E265 # block comment should start with '# '
    E302 # expected 2 blank lines, found 1
    E226 # missing whitespace around arithmetic operator
    E225 # missing whitespace around operator
    W291 # trailing whitespace
    E121 # continuation line under-indented for hanging indent
    E122 # continuation line missing indentation or outdented
    F841 # local variable 'exc' is assigned to but never used
    E722 # do not use bare 'except'
    E221 # multiple spaces before operator
    E227 # ddd
    E202 # whitespace before ')'
    E114 # indentation is not a multiple of four (comment)
    E111 # indentation is not a multiple of four
    E303 # too many blank
    E271 # multiple spaces after keyword
    W293 # blank line contains whitespace