material
maintenance/*.txt
agordoj/auxtoroj-lingvoj.yml
__pycache__
*.pyc
.idea/

html_generiloj/output/ca/
html_generiloj/output/cs/
html_generiloj/output/de/
html_generiloj/output/da/
html_generiloj/output/en/
html_generiloj/output/es/
html_generiloj/output/fr/
html_generiloj/output/he/
html_generiloj/output/hr/
html_generiloj/output/hu/
html_generiloj/output/id/
html_generiloj/output/it/
html_generiloj/output/ko/
html_generiloj/output/ms/
html_generiloj/output/nl/
html_generiloj/output/pl/
html_generiloj/output/pt/
html_generiloj/output/ru/
html_generiloj/output/sk/
html_generiloj/output/sl/
html_generiloj/output/sv/
html_generiloj/output/th/
html_generiloj/output/tr/
html_generiloj/output/uk/
html_generiloj/output/zh/
html_generiloj/output/zh-tw/
