{% extends "layout.html" %}

{% block title %}
	{{enhavo.fasado['Afiksoj']}}
	|
  {{enhavo.fasado['Esperanto en 12 tagoj']}}
{% endblock %}

{% block content %}

<h2>
	{{enhavo.fasado['Afiksoj']}}
</h2>

<h3>
	{{enhavo.fasado['Prefiksoj']}}
</h3>

<ul>
{% for esperante in enhavo.vortaro|sort %}
	{% if enhavo.vortaro[esperante].vortspeco=='prefikso' %}
		<li>
			<em>{{esperante}}</em> –
			{% set klavo = esperante %}
			{% include 'tradukajxo.html' %}
		</li>
	{% endif %}

{% endfor %}
</ul>

<h3>
	{{enhavo.fasado['Sufiksoj']}}
</h3>

<ul>
{% for esperante in enhavo.vortaro|sort %}
	{% if enhavo.vortaro[esperante].vortspeco=='sufikso' %}
		<li>
			<em>{{esperante}}</em> – 
			{% set klavo = esperante %}
			{% include 'tradukajxo.html' %}
		</li>
	{% endif %}

{% endfor %}
</ul>

{% endblock %}
