
{% extends "layout.html" %}
{% block content %}

  {% include 'pager.html' %}

  <h2 id="leciono{{leciono_index}}">
    {{leciono_index}}.
    {% for vorto in leciono.teksto.titolo %}
      {% include 'vorto.html' %}
    {% endfor %}
  </h2>

  {% include 'tabs.html' %}

  {% set tasko = 'Kompletigu la frazojn' %}
  {% set ekzerco_index = 2 %}
  {% set form_id = leciono_index ~ '-' ~ ekzerco_index %}

  <h3> {{enhavo.fasado[tasko]}} / {{tasko}} </h3>

  <p class="alert alert-info" role="alert">{{ enhavo.fasado['Por la esperantaj literoj vi povas ankaŭ skribi cx, gx, hx, jx, sx und ux.'] }}</p>

  <form id="form-{{form_id}}" class="form-inline">
    <ol class="tasko">
      {% for vico in leciono.ekzercoj[tasko] %}
      {% set vico_loop = loop %}
      <li>
        {%- for parto in vico -%}
          {% set parto_loop = loop %}
          {% set id = 'vico-' ~ leciono_index ~ '-' ~ ekzerco_index ~ '-' ~ vico_loop.index ~ '-' ~ parto_loop.index %}
          {%- for klavo,valoro in parto.items() -%}
            {%- if klavo == 'videbla' -%}
              {%- if valoro -%}
                {{valoro}}
              {%- else %} {% endif -%} 
            {%- elif klavo == 'solvo' -%}
              <div id="form-group-{{id}}" class="form-group has-error has-feedback">
                <input id="{{id}}" type="text" class="form-control" size="{{valoro|length}}" data-solvo="{{valoro}}" />
                <span id="glyphicon-{{id}}" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              </div>
            {%- endif -%} 
         {%- endfor -%}
        {%- endfor -%}
      </li>
      {% endfor %}
    </ol>
    <input type="button" class="btn btn-success solvu" value="{{enhavo.fasado['Solvu']}}" data-form-id="{{ form_id }}" />
    <input type="button" class="btn btn-danger forigu" value="{{enhavo.fasado['Forigu']}}" data-form-id="{{ form_id }}" />
  </form>

{% include 'pager.html' %}

{% endblock %}
