{% extends "layout.html" %}
{% block content %}

  <h2 id="leciono{{leciono_index}}">
    {{leciono_index}}.
    {% for vorto in leciono.teksto.titolo %}
      {% include 'vorto.html' %}
    {% endfor %}
  </h2>

  {% include 'tabs.html' %}

  {% include 'pager.html' %}

  <h3 id="ekzercoj{{leciono_index}}">{{ enhavo.vortaro['Ekzercoj'] }} / Ekzercoj</h3>

  <p class="alert alert-info" role="alert">{{ enhavo.vortaro['Por la esperantaj literoj vi povas ankaŭ skribi cx, gx, hx, jx, sx und ux.'] }}</p>


  {% set tasko = 'Traduku kaj respondu' %}
  {% set ekzerco_index = 3 %}
  {% set form_id = leciono_index ~ '-' ~ ekzerco_index %}
  <h4> {{enhavo.vortaro[tasko]}} / {{tasko}} </h4>


  <ol class="tasko">
    {% for vico in leciono.ekzercoj[tasko] %}
      {% set vico_loop = loop %}
      {% set form_id = leciono_index ~ '-' ~ ekzerco_index ~ '-' ~ vico_loop.index %}
    <li>

      {{vico.demando}}

      <form id="form-{{form_id}}" class="form-horizontal">

        {% for duopo in vico.rektatraduko %}
          {% set duopo_loop = loop %}
          {% set id = leciono_index ~ '-' ~ ekzerco_index ~ '-' ~ vico_loop.index ~ '-' ~ duopo_loop.index %}
          {% if duopo is mapping %}
            {% for esperante, fontlingve in duopo.items() %}
              <div id="form-group-{{id}}" class="form-group has-error has-feedback">
                <label class="control-label col-sm-2" for="{{id}}" 
                  data-toggle="tooltip" data-placement="bottom" title="{{esperante}}">{{fontlingve}}:</label>
                <div class="col-sm-10">
                  <input id="{{id}}" class="form-control" type="text" size="{{esperante|length}}" data-solvo="{{esperante}}"/>
                  <span id="glyphicon-{{id}}" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                </div>
              </div>
              {% endfor %}
            {%- else %} 
              <div class="form-group">
                <label class="control-label col-sm-2">{{duopo}}</label>
              </div>
            {% endif -%} 
        {% endfor %}

        <input type="button" class="btn btn-success solvu" value="{{enhavo.vortaro['Solvu']}}" data-form-id="{{ form_id }}" />
        <input type="button" class="btn btn-danger forigu" value="{{enhavo.vortaro['Forigu']}}" data-form-id="{{ form_id }}" />
      </form>

    </li>
    {% endfor %}
  </ol>

  {% include 'pager.html' %}

{% endblock %}
