{% extends "layout.html" %}
{% block content %}

  {% include 'pager.html' %}

  <h2 id="leciono{{leciono_index}}">
    {{leciono_index}}.
    {% for vorto in leciono.teksto.titolo %}
      {% include 'vorto.html' %}
    {% endfor %}
  </h2>

  {% include 'tabs.html' %}

  {% set tasko = 'Traduku' %}
  {% set ekzerco_index = 1 %}
  {% set form_id = leciono_index ~ '-' ~ ekzerco_index %}

  <h3> {{enhavo.fasado[tasko]}} / {{tasko}} </h3>

	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a data-toggle="collapse" href="#teksto">
					<h4 class="panel-title">
						{{enhavo.fasado['Teksto']}}
					</h4>
				</a>
			</div>
			<div id="teksto" class="panel-collapse collapse">
				<div class="panel-body">
					{% include 'paragrafoj.html' %}
				</div>
			</div>
		</div>
	</div>

	{% include 'vortaro.html' %}

  <form id="form-{{form_id}}" class="form-horizontal">

    {% for vico in leciono.ekzercoj[tasko] %}

      {% set vico_loop = loop %}
      {% set id = 'vico-' ~ leciono_index ~ '-' ~ ekzerco_index ~ '-' ~ vico_loop.index %}
      <div id="form-group-{{id}}" class="form-group has-error has-feedback">
        {% for esperante,fontlingve in vico.items() %}
          <label class="control-label col-sm-2" for="{{id}}" data-toggle="tooltip" data-placement="bottom" title="{{fontlingve}}" >{{esperante}}:</label>
          <div class="col-sm-10">
            {%- if fontlingve is string -%}
              <input id="{{id}}" class="form-control" type="text" size="{{fontlingve|string|length}}" data-solvo="{{fontlingve}}"/>
            {%- elif fontlingve is iterable -%}
              <input id="{{id}}" class="form-control" type="text" size="{{fontlingve[0]|string|length}}" data-solvo="{{fontlingve|join(' | ')}}"/>
            {%- endif -%}
            <span id="glyphicon-{{id}}" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          </div>
        {% endfor %}
      </div>
    {% endfor %}

    <input type="button" class="btn btn-success solvu" value="{{enhavo.fasado['Solvu']}}" data-form-id="{{ form_id }}" />
    <input type="button" class="btn btn-danger forigu" value="{{enhavo.fasado['Forigu']}}" data-form-id="{{ form_id }}" />
  </form>
  
  {% include 'pager.html' %}

{% endblock %}
