{% extends "layout.html" %}

{% block title %}
	{{leciono_index}}. {{leciono.teksto.titolo_string}}
	|
	{{enhavo.fasado['Gramatiko']}}
	|
  {{enhavo.fasado['Esperanto en 12 tagoj']}}
{% endblock %}

{% block content %}

  {% include 'pager.html' %}

  <h2 id="leciono{{leciono_index}}">
    {{leciono_index}}.
    {% for vorto in leciono.teksto.titolo %}
      {% include 'vorto.html' %}
    {% endfor %}
  </h2>

  {% include 'tabs.html' %}

  {{leciono.gramatiko.teksto|markdown}} 

  {% include 'pager.html' %}

{% endblock %}
