{% extends "layout.html" %}
{% block content %}

<h2 id="leciono{{leciono_index}}">{{leciono_index}}. {{leciono.teksto.titolo_string}}</h2>

    <ul class="nav nav-tabs">
      <li role="presentation"><a href="../">Teksto</a></li>
      <li role="presentation" class="active"><a>Gramatiko</a></li>
      <li role="presentation"><a href="../ekzerco1/">Ekzerco 1</a></li>
      <li role="presentation"><a href="../ekzerco2/">Ekzerco 2</a></li>
      <li role="presentation"><a href="../ekzerco3/">Ekzerco 3</a></li>
    </ul>

{% include 'pager.html' %}

<h3 id="gramatiko{{leciono_index}}">{{ enhavo.vortaro['Gramatiko'] }} / Gramatiko</h3>

{{leciono.gramatiko|markdown}} 

{% include 'pager.html' %}

{% endblock %}
