{% extends "layout.html" %}
{% block content %}


  <h2>Esperanto-Kurso</h2>

  <table class="table">
    <thead>
      <tr>
        <th>{{enhavo.vortaro['Lecionoj']}}</th>
        <th>{{enhavo.vortaro['Teksto']}}</th>
        <th>{{enhavo.vortaro['Gramatiko']}}</th>
        <th>{{enhavo.vortaro['Ekzercoj']}}</th>
      </tr>
    </thead>
    <tbody>
      {% for leciono in enhavo.lecionoj %}
        <tr>
          <td><a href="{{root}}{{leciono.indekso.cxene}}">{{leciono.indekso.cxene}}</a></td>
          <td><a href="{{root}}{{leciono.indekso.cxene}}">{{leciono.teksto.titolo_string}}</a></td>
          <td><a href="{{root}}{{leciono.indekso.cxene}}/gramatiko/">{{enhavo.vortaro['Gramatiko']}}</a></td>
          <td>
            <a href="{{root}}{{leciono.indekso.cxene}}/ekzerco1/">{{enhavo.vortaro['Ekzerco 1']}}</a>,
            <a href="{{root}}{{leciono.indekso.cxene}}/ekzerco2/">{{enhavo.vortaro['Ekzerco 2']}}</a>,
            <a href="{{root}}{{leciono.indekso.cxene}}/ekzerco3/">{{enhavo.vortaro['Ekzerco 3']}}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
