<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Esperanto kurso, Zagreba metodo</title>


    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">   
    <!--
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    -->
    <link href="{{root}}../assets/css/main.css" rel="stylesheet">
    <link href="{{root}}../assets/css/vortaro.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>


    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{root}}"><img id="logo" src="{{root}}../assets/img/stelo.png" alt="Verda stelo"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{enhavo.fasado['Lecionoj']}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {% for leciono in enhavo.lecionoj %}
                <li><a href="{{root}}{{leciono.indekso.cxene}}">{{leciono.indekso.cifre}}. {{leciono.teksto.titolo_string}}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{enhavo.fasado['Aldono']}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{root}}tabelvortoj">
                  {{enhavo.fasado['Tabelvortoj']}}
                </a></li>
                <li><a href="{{root}}prepozicioj">
                  {{enhavo.fasado['Prepozicioj']}}
                </a></li>
                <li><a href="{{root}}konjunkcioj">
                  {{enhavo.fasado['Konjunkcioj']}}
                </a></li>
                <li><a href="{{root}}afiksoj">
                  {{enhavo.fasado['Afiksoj']}}
                </a></li>
                <li><a href="{{root}}diversajxoj">
                  {{enhavo.fasado['Diversaĵoj']}}
                </a></li>
              </ul>
            </li>
          </ul>

          <form class="navbar-form navbar-left">
            {% include 'vortaro.html' %}
          </form>

          <form class="navbar-form navbar-left">
            <select id="lingvoelektilo" class="form-control">
              {% for lingvoKodo, lingvoNomo in enhavo.lingvoj.iteritems()|sort %}
                <option value="{{lingvoKodo}}"
                {% if lingvoKodo == enhavo.lingvo %}  
                  selected
                {% endif %}  
                >{{lingvoNomo}}</option>
              {% endfor %}
            </select>
          </form>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>   

    <div class="container">
      <div class="row">

        <div class="col-sm-12">
          
          {% block content %}
          {% endblock %}
        
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<!--
    <script src="vendor/jquery/jquery.min.js"></script>
-->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- 
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    -->

    <!-- Typeahead for Vortaro -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/0.11.1/typeahead.bundle.min.js"></script>

    <script src="{{root}}../assets/js/main.js"></script>
    <script src="{{root}}js/vortlisto.js"></script>
    <script src="{{root}}../assets/js/vortaro.js"></script>

  </body>
</html>
