{% extends "layout.html" %}
{% block content %}

    <h2 id="leciono{{leciono_index}}">
      {{leciono_index}}.
      {% for vorto in leciono.teksto.titolo %}
        {% include 'vorto.html' %}
      {% endfor %}
    </h2>

    {% include 'tabs.html' %}

    <p class="alert alert-info" role="alert">{{ enhavo.vortaro['Alklaku la vortojn por vidi ilian tradukon.'] }}</p>

    {% for paragrafo in leciono.teksto.paragrafoj %}
    <p>
      {% for vorto in paragrafo -%}
        {% include 'vorto.html' %}
      {%- endfor %}
    </p>
    {% endfor %}

  {% include 'pager.html' %}

{% endblock %}
