{% extends "layout.html" %}
{% block content %}

    <h2 id="leciono{{leciono_index}}">
      {{leciono_index}}.
      {% for vorto in leciono.teksto.titolo %}
        {% include 'vorto.html' %}
      {% endfor %}
    </h2>

    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a>Teksto</a></li>
      <li role="presentation"><a href="gramatiko/">Gramatiko</a></li>
      <li role="presentation"><a href="ekzerco1/">Ekzerco 1</a></li>
      <li role="presentation"><a href="ekzerco2/">Ekzerco 2</a></li>
      <li role="presentation"><a href="ekzerco3/">Ekzerco 3</a></li>
    </ul>

    <p class="alert alert-info" role="alert">{{ enhavo.vortaro['Alklaku la vortojn por vidi ilian tradukon.'] }}</p>

    {% for paragrafo in leciono.teksto.paragrafoj %}
    <p>
      {% for vorto in paragrafo -%}
        {% include 'vorto.html' %}
      {%- endfor %}
    </p>
    {% endfor %}

  {% include 'pager.html' %}

{% endblock %}
