{% extends "layout.html" %}
{% block content %}

  
    <h2 id="leciono{{leciono_index}}">
      {{leciono_index}}.
      {% for vorto in leciono.teksto.titolo %}
        {% if vorto is string -%}
          {{vorto}}
        {%- elif vorto is iterable -%}
          <a href="#" data-toggle="tooltip" data-html="true" data-placement="bottom" title="
            <table>
            {# Loop only if there are multiple roots. #}
            {% if vorto|length > 1 -%} 
              {% for radiko in vorto -%} 
                {% if radiko|lower in enhavo.vortaro -%}
                <tr>
                  <td>{{ radiko }}</td>
                  <td>{{ enhavo.vortaro[radiko|lower] }}</td>
                </tr>
                {% endif %} 
              {%- endfor %}
            {% endif %} 
            {% if vorto|join|lower in enhavo.vortaro -%}
              <tr>
                <td>{{ vorto|join|lower }}</td>
                <td>{{ enhavo.vortaro[vorto|join|lower] }}</td>
              </tr>
            {% elif vorto|join in enhavo.vortaro -%}
              <tr>
                <td>{{ vorto|join }}</td>
                <td>{{ enhavo.vortaro[vorto|join] }}</td>
              </tr>
            {% endif %} 
            </table>
          ">{{ vorto|join }}</a>
        {% endif %} 
      {% endfor %}
    </h2>
    <p class="alert alert-info" role="alert">{{ enhavo.vortaro['Alklaku la vortojn por vidi ilian tradukon.'] }}</p>
    {% for paragrafo in leciono.teksto.paragrafoj %}
    <p>
      {% for vorto in paragrafo -%}
        {% if vorto is string -%}
          {{vorto}}
        {%- elif vorto is iterable -%}
          <a href="javascript:" data-toggle="tooltip" data-html="true" data-placement="bottom" title="
            <table>
            {# Loop only if there are multiple roots. #}
            {% if vorto|length > 1 -%} 
              {% for radiko in vorto -%} 
                {% if radiko|lower in enhavo.vortaro -%}
                <tr>
                  <td>{{ radiko }}</td>
                  <td>{{ enhavo.vortaro[radiko|lower] }}</td>
                </tr>
                {% endif %} 
              {%- endfor %}
            {% endif %} 
            {% if vorto|join|lower in enhavo.vortaro -%}
              <tr>
                <td>{{ vorto|join|lower }}</td>
                <td>{{ enhavo.vortaro[vorto|join|lower] }}</td>
              </tr>
            {% elif vorto|join in enhavo.vortaro -%}
              <tr>
                <td>{{ vorto|join }}</td>
                <td>{{ enhavo.vortaro[vorto|join] }}</td>
              </tr>
            {% endif %} 
            </table>
          ">{{ vorto|join }}</a>
        {%- else %} 
        {% endif %} 
      {%- endfor %}
    </p>
    {% endfor %}

{% endblock %}
