{%- if vorto is string -%}
  {{vorto}}
{%- elif vorto is iterable -%}
  <a href="javascript:" data-toggle="popover" title="
    {% if vorto|join|lower in enhavo.vortaro -%}
      {{enhavo.vortaro[vorto|join|lower]}}
    {% elif vorto|join in enhavo.vortaro -%}
      {{enhavo.vortaro[vorto|join]}}
    {% endif %} 
  " data-content="
    <table>
    {# Loop only if there are multiple roots. #}
    {% if vorto|length > 1 -%} 
      {% for radiko in vorto -%} 
        {% if radiko|lower in enhavo.vortaro -%}
        <tr>
          <td><em>{{radiko}}</em></td>
          <td>{{enhavo.vortaro[radiko|lower]}}</td>
        </tr>
        {% endif %} 
      {%- endfor %}
    {% endif %} 
    </table>
  ">{{vorto|join}}</a>
{%- else %} 
{% endif -%} 
