/* set a max-width for horizontal fluid layout and make it centered */
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 768px;
}

/* popover */
.popover-content table {
    border-spacing: 0.5em;
    border-collapse: separate;    
}
.popover-content table tr {
  vertical-align: top;
  text-align: left;
}
.popover-content table td:first-child {
  text-align: right;
}

/* Ekzercoj */
.has-error input {
  background: #f0f0f0;
}

.fixed {
    position: fixed;
}
