
               <ol class="tasko">
      <li>
<div class="input-group">
  <input style="background-color:#eee;" type="button" class=" btn btn-default " value="Li">
</div>
<div class="input-group">
  <input style="background-color:#eee;" type="button" class="btn btn-default" value="estas">
</div>
<div class="input-group">
  <span class="input-group-addon">lern</span>
  <input type="text" class="form-control">
  <span class="input-group-addon">o</span>
</div>
<div class="input-group">
  <input type="button" class="btn btn-default" value="kaj">
</div>
<div class="input-group">
  <span class="input-group-addon">sport</span>
  <input type="text" class="form-control">
       <span id="" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
  <span class="input-group-addon">o</span>

</div>
