ol.tasko ul {
  list-style-type: none;
  padding-left: 0em;  
}
ol.tasko label {
  min-width: 8em;
}

/* Tooltip */
.tooltip-inner table {
    border-spacing: 0.5em;
    border-collapse: separate;    
}
.tooltip-inner table tr {
  vertical-align: top;
  text-align: left;
}
.tooltip-inner table td:first-child {
  text-align: right;
}


