/* Sticky footer styles
-------------------------------------------------- */

a {
  text-decoration: underline;
}

footer {
	position: fixed;
	bottom: 0;
  background: #e0e0e0;
  border-top: #808080;
}

