{% extends "layout.html" %}

{% block title %}
	{{leciono_index}}. {{leciono.teksto.titolo_string}}
	|
	{{enhavo.fasado['Ekzerco 1']}}
	|
  {{enhavo.fasado['Lerni Esperanton en 12 lecionoj']}}
{% endblock %}

{% block content %}

  {% include 'leciona-titolo.html' %}

  {% include 'tabs.html' %}

  {% set tasko = 'Traduku' %}
  {% set ekzerco_index = 1 %}
  {% set form_id = leciono_index ~ '-' ~ ekzerco_index %}

  <h3 dir="{{enhavo.tekstodirekto}}"> {{enhavo.fasado[tasko]}} </h3>

	<div class="card mb-3">
		<div class="card-header">
				<a data-bs-toggle="collapse" href="#teksto">
					<h4 class="card-title mb-0" dir="{{enhavo.tekstodirekto}}">
						{{enhavo.fasado['Teksto']}}
					</h4>
				</a>
		</div>
		<div id="teksto" class="collapse">
			<div class="card-body">
					{% include 'paragrafoj.html' %}
			</div>
		</div>
	</div>

  <form id="form-{{form_id}}" class="form-horizontal">

    {% for vico in leciono.ekzercoj[tasko] %}

      {% set vico_loop = loop %}
      {% set id = 'vico-' ~ leciono_index ~ '-' ~ ekzerco_index ~ '-' ~ vico_loop.index %}
      <div class="form-group">
        {% for esperante,fontlingve in vico.items() %}
          <label class="control-label col-sm-2" for="{{id}}" data-bs-toggle="popover" data-bs-placement="bottom" title="{{fontlingve if fontlingve is string else fontlingve|join(', ')}}" >{{esperante}}:</label>
          <div class="col-sm-10">
            {%- if fontlingve is string -%}
              <input id="{{id}}" class="form-control is-invalid" type="text" size="{{(fontlingve|string|length) + 1}}" data-solvo="{{fontlingve}}"/>
            {%- elif fontlingve is iterable -%}
              <input id="{{id}}" class="form-control is-invalid" type="text" size="{{(fontlingve[0]|string|length) + 1}}" data-solvo="{{fontlingve|join(' | ')}}"/>
            {%- endif -%}
          </div>
        {% endfor %}
      </div>
    {% endfor %}

    <div class="ekzercaj-agoj">
      <input type="button" class="btn btn-success solvu" value="{{enhavo.fasado['Solvu']}}" data-form-id="{{ form_id }}" />
      <input type="button" class="btn btn-danger forigu" value="{{enhavo.fasado['Forigu']}}" data-form-id="{{ form_id }}" />
    </div>
  </form>
  
  {% include 'pagxonumerado-komentejo.html' %}

{% endblock %}
