{% extends "layout.html" %}

{% block title %}
	{{leciono_index}}. {{leciono.teksto.titolo_string}}
	|
	{{enhavo.fasado['Ekzerco 2']}}
	|
  {{enhavo.fasado['Lerni Esperanton en 12 lecionoj']}}
{% endblock %}

{% block content %}

  {% include 'leciona-titolo.html' %}

  {% include 'tabs.html' %}

  {% set tasko = 'Kompletigu la frazojn' %}
  {% set ekzerco_index = 2 %}
  {% set form_id = leciono_index ~ '-' ~ ekzerco_index %}

  <h3 dir="{{enhavo.tekstodirekto}}"> {{enhavo.fasado[tasko]}} </h3>

	<div class="card mb-3">
		<div class="card-header">
<a data-bs-toggle="collapse" href="#teksto">
				<h4 class="card-title mb-0" dir="{{enhavo.tekstodirekto}}">
					{{enhavo.fasado['Teksto']}}
				</h4></a>
		</div>
		<div id="teksto" class="collapse">
			<div class="card-body">
					{% include 'paragrafoj.html' %}
			</div>
		</div>
	</div>
	
  <p class="alert alert-info" role="alert" dir="{{enhavo.tekstodirekto}}">{{ enhavo.fasado['Por la Esperantaj literoj vi ankaŭ rajtas skribi cx, gx, hx, jx, sx kaj ux.'] }}</p>

  <form id="form-{{form_id}}" class="form-inline ekzerco2-tasko" data-auto-sekvo="respondoj">
    <ol class="tasko">
      {% for vico in leciono.ekzercoj[tasko] %}
      {% set vico_loop = loop %}
      <li>
        {%- for token in vico -%}
          {%- if token.tipo == 'interpunkcio' -%}
            <span class="ekz2-interpunkcio">{{ token.teksto }}</span>
          {%- else -%}
            {%- set vorto_loop = loop -%}
            {%- set id = 'vico-' ~ leciono_index ~ '-' ~ ekzerco_index ~ '-' ~ vico_loop.index ~ '-' ~ vorto_loop.index -%}
            {%- set segmentoj = token.segmentoj -%}
            {%- set havas_solvon = segmentoj | selectattr('tipo', 'equalto', 'solvo') | list | length > 0 -%}
            {%- if not loop.first %} {% endif -%}
            {%- if not havas_solvon -%}
              {# Tuta ekzistanta vorto: neredaktebla enigogrupo. #}
              {% set fiksa_vorto = segmentoj | map(attribute='teksto') | join('') %}
              <span class="input-group">
                <span class="input-group-text">{{ fiksa_vorto }}</span>
              </span>
            {%- elif segmentoj | length == 1 -%}
              {# Tuta plenigenda vorto: normala enigo. #}
              <span class="form-group">
                <input id="{{id}}" type="text" class="form-control is-invalid" size="{{ (segmentoj[0].teksto|length) + 1 }}" data-solvo="{{ segmentoj[0].teksto }}" />
              </span>
            {%- else -%}
              {# Vortpartoj: enigogrupo kun fiksaj partoj kaj plenigenda enigo. #}
              <span class="input-group">
                {%- for segmento in segmentoj -%}
                  {%- if segmento.tipo == 'fiksa' -%}
                    <span class="input-group-text">{{ segmento.teksto }}</span>
                  {%- else -%}
                    <input id="{{id}}" type="text" class="form-control is-invalid" size="{{ (segmento.teksto|length) + 1 }}" data-solvo="{{ segmento.teksto }}" />
                  {%- endif -%}
                {%- endfor -%}
              </span>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      </li>
      {% endfor %}
    </ol>
    <div class="ekzercaj-agoj">
      <input type="button" class="btn btn-success solvu" value="{{enhavo.fasado['Solvu']}}" data-form-id="{{ form_id }}" />
      <input type="button" class="btn btn-danger forigu" value="{{enhavo.fasado['Forigu']}}" data-form-id="{{ form_id }}" />
    </div>
  </form>

  {% include 'pagxonumerado-komentejo.html' %}

{% endblock %}
