{% extends "layout.html" %}

{% block title %}
	{{leciono_index}}. {{leciono.teksto.titolo_string}}
	|
	{{enhavo.fasado['Gramatiko']}}
	|
  {{enhavo.fasado['Esperanto en 12 lecionoj']}}
{% endblock %}

{% block content %}

  {% include 'leciona-titolo.html' %}

  {% include 'tabs.html' %}

  <div dir="{{enhavo.tekstodirekto}}">
    {% if leciono.gramatiko.titoloj %}
      <nav id="gramatika-enhavtabelo" class="gramatika-enhavtabelo" aria-label="{{enhavo.fasado['Gramatiko']}}">
        <ol>
          {% for titolo in leciono.gramatiko.titoloj %}
            <li><a href="#{{titolo.ankro}}">{{titolo.titolo}}</a></li>
          {% endfor %}
        </ol>
      </nav>
    {% endif %}

  {{leciono.gramatiko.teksto|markdown(true)}}

	</div>

  {% include 'pagxonumerado-komentejo.html' %}

{% endblock %}
