<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>
			{% block title %}
			{% endblock %}
		</title>


    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{vojprefikso}}../assets/css/main.css?v=2" rel="stylesheet">
    <link href="{{vojprefikso}}../assets/css/vortaro.css" rel="stylesheet">

  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{vojprefikso}}"><img id="logo" src="{{vojprefikso}}../assets/img/stelo.png" alt="Verda stelo"></a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#site-navigation" aria-controls="site-navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="site-navigation">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                {{enhavo.fasado['Lecionoj']}}
              </a>
              <ul class="dropdown-menu">
                {% for leciono in enhavo.lecionoj %}
                <li><a class="dropdown-item" href="{{vojprefikso}}{{leciono.indekso.cxene}}">{{leciono.indekso.cifre}}. {{leciono.teksto.titolo_string}}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                {{enhavo.fasado['Aldono']}}
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{vojprefikso}}tabelvortoj">
                  {{enhavo.fasado['Tabelvortoj']}}
                </a></li>
                <li><a class="dropdown-item" href="{{vojprefikso}}prepozicioj">
                  {{enhavo.fasado['Prepozicioj']}}
                </a></li>
                <li><a class="dropdown-item" href="{{vojprefikso}}konjunkcioj">
                  {{enhavo.fasado['Konjunkcioj']}}
                </a></li>
                <li><a class="dropdown-item" href="{{vojprefikso}}afiksoj">
                  {{enhavo.fasado['Afiksoj']}}
                </a></li>
                <li><a class="dropdown-item" href="{{vojprefikso}}diversajxoj">
                  {{enhavo.fasado['Diversaĵoj']}}
                </a></li>
              </ul>
            </li>
          </ul>

          <form class="d-flex ms-lg-3 my-2 my-lg-0">
            {% include 'vortaro.html' %}
          </form>
          <form class="d-flex ms-lg-3 my-2 my-lg-0">
            <select id="lingvoelektilo" class="form-select">
              {% for kodo in enhavo.lingvoj|sort if enhavo.lingvoj[kodo].stato == 'preta' %}
                <option value="{{kodo}}"
                {% if kodo == enhavo.lingvo %}  
                  selected
                {% endif %}  
                >{{enhavo.lingvoj[kodo].nomo.fontlingve}}</option>
              {% endfor %}
              {% for kodo in enhavo.lingvoj|sort if enhavo.lingvoj[kodo].stato == 'testa' %}
                <option value="{{kodo}}"
                {% if kodo == enhavo.lingvo %}  
                  selected
                {% endif %}  
                >(test: {{enhavo.lingvoj[kodo].nomo.esperante}})</option>
              {% endfor %}
            </select>
          </form>

        </div>
      </div>
    </nav>   

    <div class="container">
      <div class="row">

        <div class="col-sm-12">

						<!--
					<div class="ad" >
						Vizitu la <a target="_blank" href="https://uk.esperanto.net/2026/">Universalan Kongreson en Graz</a> kaj renkontu 1000+ esperantistojn el la tuta mondo.
					</div>
						-->
          
          {% block content %}
          {% endblock %}
        
        </div>
      </div>

			<div class="footer well well-sm">
				<div>
					<a href="https://github.com/Esperanto/kurso-zagreba-metodo#permesiloj">
				    <img id="cc" src="{{vojprefikso}}../assets/img/cc.png" alt="Creative commons">
					</a> 
					
					Surbaze de la <a href="https://eo.wikipedia.org/wiki/Zagreba_metodo">Zagreba metodo</a>, 
					<a href="{{vojprefikso}}auxtoroj/">Aŭtoroj</a>,
					<a href="https://github.com/Esperanto/kurso-zagreba-metodo/tree/master/KONTRIBUADO.md">Helpu</a>,
					<a href="https://jaehnig.org/privacy">Privateco</a>,
					<a href="https://jaehnig.org/impressum/">Kontakto</a>
					<br/>
	        <a href="https://uea.org/">
				    <img id="cc" src="{{vojprefikso}}../assets/img/uea.png" alt="Universala Esperanto Asocio">
					</a>
					Subtenita de <a href="https://uea.org/">Universala Esperanto Asocio</a>
					<br/>
					<span class="versio">⏱︎ Versio: {{enhavo.versio}}</span>
			</div>

    </div>


    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/jquery/jquery-ui.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/vendor/typeahead/typeahead.bundle.min.js"></script>

    <script src="{{vojprefikso}}../assets/js/main.js"></script>
    <script src="{{vojprefikso}}js/vortlisto.js"></script>
    <script src="{{vojprefikso}}../assets/js/vortaro.js"></script>

			<!-- 100% privacy-first analytics -->
	<script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade"/></noscript>
<script data-goatcounter="https://e12.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

  </body>
</html>
