<ul class="pager list-unstyled align-items-center ps-0">
  {% if previous_path -%}
  <li class="previous"><a class="btn btn-outline-secondary" href="{{previous_path}}" aria-label="{{enhavo.fasado['malantaŭen']}}" title="{{enhavo.fasado['malantaŭen']}}">◀︎</a></li>
  {%- else %}
  <li></li>
  {%- endif %} 
  <li></li>
  {% if next_path -%}
  <li class="next"><a class="btn btn-primary" href="{{next_path}}" aria-label="{{enhavo.fasado['antaŭen']}}" title="{{enhavo.fasado['antaŭen']}}">▶︎</a></li>
  {%- else %}
  <li></li>
  {%- endif %} 
</ul>
