<ul class="pager list-unstyled align-items-center ps-0">
  {% if previous_path -%}
		<li class="previous"><a class="btn btn-outline-secondary rounded-pill" href="{{previous_path}}" aria-label="{{enhavo.fasado['malantaŭen']}}" title="{{enhavo.fasado['malantaŭen']}}">◀︎</a></li>
  {%- else %}
		<li></li>
  {%- endif %} 

	{% if enhavo.lingvoj[enhavo.lingvo].komentejo %} 
		<li class="comments"><a class="btn btn-outline-secondary rounded-pill" href="javascript:show_disqus();">{{enhavo.fasado['Komentejo']}}</a></li>
  {%- else %}
		<li></li>
  {%- endif %} 

  {% if next_path -%}
		<li class="next"><a class="btn btn-outline-secondary rounded-pill" href="{{next_path}}" aria-label="{{enhavo.fasado['antaŭen']}}" title="{{enhavo.fasado['antaŭen']}}">▶︎</a></li>
  {%- else %}
		<li></li>
  {%- endif %} 
</ul>


{% if enhavo.lingvoj[enhavo.lingvo].komentejo %} 

	<div id="disqus_thread"></div>
	<script>

	var disqus_config = function () {
		this.page.url = 'http://esperanto12.net/{{enhavo.lingvo}}/{{identigilo}}'; 
		this.page.identifier = '{{identigilo}}'; 
	};
	var show_disqus = function() { 
		var d = document, s = d.createElement('script');
		s.src = '//kzm-{{enhavo.lingvo}}.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	};
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{%- endif %} 
